* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(254, 251, 255);
  --black: rgb(6, 6, 6);
  --bg: #fafafa;
  --gradient: linear-gradient(
    90deg,
    rgb(255, 193, 193) 0%,
    rgb(255, 219, 161) 10%,
    rgb(239, 244, 172) 20%,
    rgb(174, 240, 172) 30%,
    rgb(182, 241, 240) 40%,
    rgb(173, 235, 245) 60%,
    rgb(204, 184, 245) 70%,
    rgb(237, 188, 255) 80%,
    rgb(251, 186, 242) 90%
  );
}

body {
  background-color: var(--bg);
  font-family: roboto;
}

header {
  color: var(--black);
  background-image: var(--gradient);
  height: 16vh;
  padding: 1rem;
  font-family: montserrat;
  font-weight: 400;
}

main {
  background-color: var(--white);
  width: 60%;
  margin: 0 auto;
  padding: 12px 24px;
}
section {
  position: relative;
}

.texto {
  padding: 10px 20px;
  line-height: 1.3rem;
  text-align: justify;
  font-weight: 300;
}

aside {
  width: 180px;
  border: 1px solid var(--black);
  position: fixed;
  bottom: 4vh;
  right: 2vh;
  padding: 10px;
  text-align: center;
  font-weight: 300;
}

footer {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 4vh;
  text-align: center;
}

button {
  background-color: var(--black);
  color: var(--bg);
  font-family: serif;
  border: 1px solid transparent;
}

button:hover {
  background-color: var(--white);
  transition: 0.4s;
  border: none;
  color: var(--black);
  border: 1px solid transparent;
}

.btn-actv:active {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid transparent;
}

aside:active {
  background-image: var(--gradient);
  color: var(--black);
  transition: 0.3s;
}
